.carousel-container {
    position: relative;
    overflow: hidden;
    width: 80%; /* Ajustez la largeur selon vos besoins */
    max-width: 800px;
    margin: 0 auto;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%; /* La largeur de chaque image prendra tout l'espace */
}

.carousel-item {
    min-width: 100%; /* Chaque image prend toute la largeur du conteneur */
    position: relative;
}

.carousel-image {
    width: 100%; /* L'image prend tout l'espace du conteneur */
    display: block;
}

.carousel-title {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}