* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.bandeau {
    background-color: #6e0127;
    color: white;
    padding: 20px;
    display: flex; /* Utilisation de Flexbox */
    justify-content: space-between; /* Sépare le titre et la navigation */
    align-items: center; /* Aligne verticalement le contenu */
    position: sticky;
    top: 0;
    width: 100%;
}

.bandeau h1 {
    margin: 0;
}

.bandeau nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Affiche les éléments en ligne */
}

.bandeau nav ul li {
    margin-left: 15px;
}

.bandeau nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.bandeau nav ul li a:hover {
    text-decoration: underline;
}